<IfModule mod_rewrite.c>
    ReWriteEngine on
    ReWriteCond %{REQUEST_FILENAME} !-f
    ReWriteCond %{REQUEST_FILENAME} !-d
    ReWriteCond $1 !^(index\.php|images|robots\.txt)
    ReWriteRule ^(.*)$ index.php/$0 [L]
</IfModule>